* {
	margin: 0;
}

html, body {
	height: 100%;
}

h1 {
	font-family: 'Playfair Display', serif;
	font-size: 1000%;
	font-weight: 700;
	line-height: 70%;
	color: white;
	text-shadow: 2px 2px 10px rgba(192,192,192, 0.4);
	padding-top: 11%;
	padding-left: 15%;
	display: inline-block;
}


p {
	font-family: 'Raleway', sans-serif;
	margin: 15px;
	color: white;
	margin-top: 10%;
	padding-left: 12%;
}

.content {
	margin: 0px auto 50px;
	min-height: 100%;
	margin-bottom: -50px; 
	background-image: url(images/DRA-blueburststonetexture-1-MBFT1.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.content:after {
  content: "";
  display: block;
}

#button {
	background-color: black;
	color: white;
	font-size: 50%;
	height: 20px;
	vertical-align: bottom;
	border-radius: 2px;
	border: none;
}

form {
	padding-top: 1%;
	float: left;
	padding-left: 15%;
}

footer, .content:after {
	height: 50px;
}

footer {
	text-align: center;
}

.fa {
	color: white;
}

i {
	color: black;
	margin: 0 5px;
}
